/* Header*/

header {
    margin-top: 5px;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #23324f;
    color: #f5272e;  
}

h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 20px;
}

nav {
    margin-top: 5px;
    padding-top: 15px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
span :hover {     
    box-shadow: 0 0 10px #ccc;
    font-size: 180%;
}
   
li {
    display: inline-block;
    margin-left: 20px;  
}   

/* Removes link default settings*/

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;   
}

/* Cursor behavior for links */

a:hover {
    background-color: #f5272e;  
  }
a:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
}

/* background image and positioning*/  

#background {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    width: 100%;
    margin: 0 0 0 0;
    background-image: url("../images/img1564.3.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;    
}

/* My photo */

#me { 
    width : 300px;
    background-color:#fff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 15px 90px 15px; 
    transform: rotate(-8deg);
}

/* Greetig */

#greeting {
    text-align: center;
    color:#162033;
    font-size: 40px;    
    padding-bottom: 80px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Main background and border */

main {
    border: 10px solid #fff;
    background-color:#162033 ;
    background-size: cover;
}

/* Section headers */

h2 {
    display: flex;
    justify-content: center;
    color:#f5272e;
    font-size: 40px;
    padding: 20px;  
    padding-bottom: 30px;
}    

/* About ME*/

#about-me {
    line-height: 1.5;
    color:#ffffff;
    font-size: 24px;
    padding: 30px;
    border-bottom: 5px solid #fff;
}

/*Projects*/

#projects {
    padding: 30px;
    border-bottom: 5px solid #fff;   
}

/* Images to make up for lack of actual content*/

#images{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 600px;    
    position:relative;
} 
#rail{
    height: 600px;
    width: 300px;
}
#rail-link {
    height: 600px;
    width: 300px;  
}
#boats, #dock, #bog, #campfire, #plant, .link {
    height: 300px;
    width: 300px;  
}
#rail-link, .link{
    position: relative;
    display: inline-block
}

/* Labels for project links*/

span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    height: 3em;
    color: #f5272e;
    background-color: rgb(22 32 51 / 75%);
    text-align:center;
}

/* Background image of linked site*/

#horiseon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    height: 3em;
    color: #f5272e;
    background-color: rgb(22 32 51 / 75%);
    text-align:center;
    background-image: url(../images/screenshot-2.png) ;
}

/* Contact Info */

#contacts {
    line-height: 1.5;
    color:#ffffff;
    font-size: 24px;
    padding: 30px;
    border-bottom: 5px solid #fff;
    text-align: center;
}   

/* Changes for screensize 992px or smaller */

@media screen and (max-width: 992px) {
    nav {
        float: right;
    }
    header, nav {
        display: flex;   
        flex-direction: column;
        text-align: center;
       }

/* Change the header color */

    header {
      background:  #562E52;
    }
    #images{
        height: 900px;
    }
  
/* Changes for screen size 768px or smaller */

  @media screen and (max-width: 768px) {
    h1 {
    text-align: center;    
    }  
    header, nav {
     display: flex;   
     flex-direction: column;
     text-align: center;
    }

 /* Change the header color */
 
    header {
      background: #5381af;
    }
    #me {
        align-items: center;
        
    }
    #images {
        height: 1800px;
        align-items: center; 
    }
